<div class="page-header">
  <h3>Employment #<%= @employment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Company</dt>
      <dd>
        <% if @employment.company.present? %>
          <a href="/companies/<%= @employment.company_id %>">
            <%= @employment.company.name %>
          </a>
        <% end %>
      </dd>

      <dt>Contact</dt>
      <dd>
        <% if @employment.contact.present? %>
          <a href="/contacts/<%= @employment.contact_id %>">
            <%= @employment.contact.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/employments" class="btn btn-primary">
        Back
      </a>
      <a href="/employments/<%= @employment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_employment/<%= @employment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
