<div class="page-header">
  <h3>Contact #<%= @contact.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @contact.name %></dd>

      <dt>Position</dt>
      <dd><%= @contact.position %></dd>

      <dt>Linkedin</dt>
      <dd><%= @contact.linkedin %></dd>

      <dt>Last connected date</dt>
      <dd><%= @contact.last_connected_date %></dd>

      <dt>Email</dt>
      <dd><%= @contact.email %></dd>

      <dt>Category</dt>
      <dd><%= @contact.category_id %></dd>

      <dt>User</dt>
      <dd><%= @contact.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/contacts" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @contact.user %>
        <a href="/contacts/<%= @contact.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_contact/<%= @contact.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Contact has many employments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Employments
      </li>

      <% @contact.employments.each do |employment| %>
        <li class="list-group-item">
          <a href="/employments/<%= employment.id %>">
            <%= employment.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/employments/<%= employment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/employments/<%= employment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_employment/<%= employment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Contact has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @contact.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.notes %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Contact has many companies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Companies
      </li>

      <% @contact.companies.each do |company| %>
        <li class="list-group-item">
          <a href="/companies/<%= company.id %>">
            <%= company.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/companies/<%= company.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/companies/<%= company.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_company/<%= company.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
